<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:haf="https://github.com/haf/NLog.RabbitMQ/raw/master/src/schemas/NLog.RabbitMQ.xsd"
      internalLogFile="logs\nlog-error-log.csv" 
      internalLogLevel="Warn"
      autoReload="true"
      >
  <!-- 
  WARNING: 
    THIS FILE IS AUTOMATICALLY INSTALLED THROUGH A NUGET PACKAGE. 
    DO NOT MAKE ANY MODIFICATION TO THIS FILE.
    CUSTOM NLOG CONFIG SHOULD BE ADDED TO: NLog.Custom.config
  -->

  <variable name="LogDirectory" value="c:\Logs\${processname}\${date:format=yyyy-MM-dd}\${machinename}"/>
  <variable name="SimpleFileLogLayout" value="${date:format=HH\:mm\:ss.fff}|${level}|${exception:format=Type,Message,StackTrace}|${message}"/>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" overflowAction="Grow" timeToSleepBetweenBatches="0" />
    <target name="UDP1" xsi:type="NLogViewer" address="udp://127.0.0.1:5557" connectionCacheSize="100" keepConnection="true"
           includeNdc="true"
           includeNLogData="true"
           includeMdc="true"
           includeCallSite="true"
           includeSourceInfo="true">
      <parameter name="Exceptions" layout = "${exception:format=type,message,StackTrace:maxInnerExceptionLevel=10:innerFormat=type,message,StackTrace}" />
      <parameter name="ProcessName" layout= "${processname}" />
      <parameter name="ProcessID" layout="${processid}" />
      <parameter name="ThreadName" layout="${threadname}" />
      <parameter name="Class" layout ="${callsite:className=true:methodName=false:fileName=false:includeSourcePath=false}" />
      <parameter name="Method" layout ="${callsite:className=false:methodName=true:fileName=false:includeSourcePath=false}" />
      <parameter name="File" layout ="${callsite:className=false:methodName=false:fileName=true:includeSourcePath=true}" />
      <parameter name="ServiceName" layout="${mdlc:item=ServiceName}" />
      <parameter name="ReplicaOrInstanceId" layout="${mdlc:item=ReplicaOrInstanceId}" />
      <parameter name="PartitionId" layout="${mdlc:item=PartitionId}" />
      <parameter name="NodeName" layout="${mdlc:item=NodeName}" />
      <parameter name="ApplicationName" layout="${gdc:item=ApplicationName}" />
      <parameter name="ServiceVersion" layout="${gdc:item=CodePackageVersion}" />
      <parameter name="MachineName" layout="${machinename}" />
      <parameter name="CorrelationId" layout="${CorellationId}" />
    </target>

    <target name="FullLog"
            xsi:type="File"
            fileName="${LogDirectory}\${processname}_Log_Full_${date:format=yyyy-MM-dd_HH}.csv"
            concurrentWrites="false"
            keepFileOpen="true"
            >
      <layout xsi:type="CSVLayout">
        <column name ="Sequence" layout ="${counter}" />
        <column name="Time" layout="${date:format=yyyy/MM/dd HH\:mm\:ss.fff}" />
        <column name="ProcessID" layout="${processid}" />
        <column name="ProcessName" layout= "${processname}" />
        <column name="Thread" layout="${threadid}"/>
        <column name="ThreadName" layout="${threadname}" />
        <column name="Level" layout="${level}"/>
        <column name="Class" layout ="${callsite:className=true:methodName=false:fileName=false:includeSourcePath=false}" />
        <column name="Method" layout ="${callsite:className=false:methodName=true:fileName=false:includeSourcePath=false}" />
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=Type,Message,StackTrace:maxInnerExceptionLevel=10}" />
        <column name="File" layout ="${callsite:className=false:methodName=false:fileName=true:includeSourcePath=true}" />
        <column name="ServiceName" layout="${mdlc:item=ServiceName}" />
        <column name="ReplicaOrInstanceId" layout="${mdlc:item=ReplicaOrInstanceId}" />
        <column name="PartitionId" layout="${mdlc:item=PartitionId}" />
        <column name="NodeName" layout="${mdlc:item=NodeName}" />
        <column name="ApplicationName" layout="${gdc:item=ApplicationName}" />
        <column name="ServiceVersion" layout="${gdc:item=CodePackageVersion}" />
        <column name="MachineName" layout="${machinename}" />
        <column name="CorrelationId" layout="${CorellationId}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="FullLog" />
    <logger name="*" minlevel="Trace" writeTo="UDP1" />
  </rules>
</nlog>